.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    border: 1px solid #324ca8;
    padding: 12px;
    margin: 14px 0;
    cursor: pointer;
}

.post:hover {
    background-color: #786966;
}
